<!DOCTYPE html>
<html lang="{{ $.Locale.GetLanguage }}">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>{{ $.Locale.Get "Contacts" }}</h2>

      <a href="/contacts/add">{{ $.Locale.Get "Add a Contact" }}</a>
    </header>

    <ul>
      {{ range .Entries }}
      <li>
        <div>
          <h3>
            <a href="/contacts/view?id={{ .ID }}">
              {{ .FirstName }} {{ .LastName }} {{ if ne .Nickname "" }} ({{ .Nickname }}) {{ end }}
            </a>
          </h3>

          <div>
            {{ .Email }} {{ if and (ne .Email "") (ne .Pronouns "") }}|{{ end }} {{ .Pronouns }}
          </div>
        </div>

        <div>
          <form
            action="/contacts/delete?id={{ .ID }}"
            method="post"
            onsubmit="return confirm('{{ $.Locale.Get "Are you sure you want to delete this contact?" }}')"
          >
            <input type="submit" value="{{ $.Locale.Get "Delete" }}" />
          </form>

          <a href="/contacts/edit?id={{ .ID }}">{{ $.Locale.Get "Edit" }}</a>
        </div>
      </li>
      {{ else }}
      <li>{{ $.Locale.Get "No contacts yet." }}</li>
      {{ end }}
    </ul>

    {{ template "footer.html" . }}
  </body>
</html>
