<!DOCTYPE html>
<html lang="{{ .Locale.GetLanguage }}">
  {{ if .RequiresPrivacyPolicyConsent }} {{ template "header.html" . }} {{ else }} {{
  template "header_redirect.html" . }} {{ end }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>{{ .Page }}</h2>

      {{ if not .RequiresPrivacyPolicyConsent }}
      <a href="{{ .Href }}">Continue manually</a>
      {{ end }}
    </header>

    {{ if .RequiresPrivacyPolicyConsent }}
    <main>
      <form id="privacy" {{ if ne .Href "" }}action="{{ .Href }}"{{ end }} method="get">
        <input type="checkbox" id="consent" name="consent" required />
        <label for="consent"
          >I have read and understood the
          <a href="{{ .PrivacyURL }}" target="_blank">privacy policy</a></label
        >
        <br />

        <input type="submit" value="Continue" />

        <a href="/">Cancel</a>
      </form>
    </main>
    {{ end }} {{ template "footer.html" . }}
  </body>
</html>
