<!DOCTYPE html>
<html lang="{{ $.Locale.GetLanguage }}">
  {{ if .RequiresPrivacyPolicyConsent }} 
  {{ template "header.html" . }} 
  {{ else }} 
  {{ template "header_redirect.html" . }} 
  {{ end }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>{{ .Page }}</h2>

      {{ if not .RequiresPrivacyPolicyConsent }}
      <a href="{{ .Href }}">{{ $.Locale.Get "Continue manually" }}</a>
      {{ end }}
    </header>

    {{ if .RequiresPrivacyPolicyConsent }}
    <main>
      <form id="privacy" {{ if ne .Href "" }}action="{{ .Href }}"{{ end }} method="get">
        <input type="checkbox" id="consent" name="consent" required />
        <label for="consent">
          {{ $.Locale.Get "I have read and understood the " }}
          <a href="{{ .PrivacyURL }}" target="_blank">{{ $.Locale.Get "privacy policy" }}</a>{{ $.Locale.Get "Privacy policy consent suffix" }}
        </label>
        <br />

        <input type="submit" value="{{ $.Locale.Get "Continue" }}" />

        <a href="/">{{ $.Locale.Get "Cancel" }}</a>
      </form>
    </main>
    {{ end }} 
    {{ template "footer.html" . }}
  </body>
</html>
