<!DOCTYPE html>
<html lang="{{ $.Locale.GetLanguage }}">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <h2>{{ $.Locale.Get "Senbara Forms" }}</h2>
      <h3>
        {{ $.Locale.Get `Simple personal ERP web application built with HTML
forms, OpenID Connect authentication and PostgreSQL data storage.
Designed as a reference for modern JS-free Web 2.0 development with Go.`
        }}
      </h3>
    </header>

    {{ if eq .LogoutURL "" }}
    <main>
      <h2>{{ $.Locale.Get "Statistics" }}</h2>

      <dl>
        <dt>{{ $.Locale.Get "Total contacts" }}</dt>
        <dd>{{ .ContactsCount }}</dd>
        <dt>{{ $.Locale.Get "Total journal entries" }}</dt>
        <dd>{{ .JournalEntriesCount }}</dd>
      </dl>
    </main>
    {{ else }}
    <main>
      <h2>{{ $.Locale.Get "Summary" }}</h2>

      <dl>
        <dt><a href="/contacts">{{ $.Locale.Get "Contacts" }}</a></dt>
        <dd>{{ .ContactsCount }}</dd>
        <dt>
          <a href="/journal">{{ $.Locale.Get "Journal entries" }}</a>
        </dt>
        <dd>{{ .JournalEntriesCount }}</dd>
      </dl>
    </main>
    {{ end }} {{ template "footer.html" . }}
  </body>
</html>
