<!DOCTYPE html>
<html lang="{{ $.Locale.GetLanguage }}">
  {{ template "header.html" . }}

  <body>
    {{ template "nav.html" . }}

    <header>
      <div>
        <h2>{{ .Entry.Title }}</h2>
      </div>

      <div>
        <div>{{ .Entry.Date.Format "2006-01-02 15:04" }}</div>
        <div>
          {{ $.Locale.Get "Your day was:" }}
          {{ if eq .Entry.Rating 3 }}
            {{ $.Locale.Get "Great" }}
          {{ else if eq .Entry.Rating 2 }}
            {{ $.Locale.Get "OK" }}
          {{ else if eq .Entry.Rating 1 }}
            {{ $.Locale.Get "Bad" }}
          {{ end }}
        </div>
      </div>
    </header>

    <main>
      {{ RenderMarkdown .Entry.Body }}

      <form
        id="delete"
        action="/journal/delete?id={{ .Entry.ID }}"
        method="post"
        onsubmit="return confirm('{{ $.Locale.Get "Are you sure you want to delete this entry?" }}')"
      >
        <input type="submit" value="{{ $.Locale.Get "Delete" }}" />

        <a href="/journal/edit?id={{ .Entry.ID }}">{{ $.Locale.Get "Edit" }}</a>
      </form>
    </main>

    {{ template "footer.html" . }}
  </body>
</html>
