[Desktop Entry]
Version=1.0
Type=Application
Name=Senbara Forms
Name[en]=Senbara Forms
Name[en_UK]=Senbara Forms
Name[fr]=Formulaires Senbara
Name[fr_CA]=Formulaires Senbara
Name[de]=Senbara-Formulare
Comment=GNOME app to interact with the Senbara REST API. Designed as a reference for modern GNOME/GTK development with Go.
Comment[en]=GNOME app to interact with the Senbara REST API. Designed as a reference for modern GNOME/GTK development with Go.
Comment[en_UK]=GNOME app to interact with the Senbara REST API. Designed as a reference for modern GNOME/GTK development with Go.
Comment[fr]=Application GNOME pour interagir avec l'API REST Senbara. Conçue comme modèle de référence pour le développement moderne GNOME/GTK avec Go.
Comment[fr_CA]=Application GNOME pour interagir avec l'API REST Senbara. Conçue comme modèle de référence pour le développement moderne GNOME/GTK avec Go.
Comment[de]=GNOME-Anwendung zur Interaktion mit der Senbara REST API. Konzipiert als Referenz für moderne GNOME/GTK-Entwicklung mit Go.
Exec=senbara-gnome %u
Icon=com.pojtinger.felicitas.Senbara
Categories=Utility
MimeType=x-scheme-handler/senbara;
